/* Ordinateur */
.hero-title {
  font-size: 3rem;
  font-weight: bold;
}

.hero-text {
  font-size: 1.2rem;
  max-width: 800px;
  margin: auto;
}

.gallery-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.event-card {
  min-height: 300px;
}

/* Tablette */
@media (max-width: 768px) {
  .hero-title {
    font-size: 2.2rem;
  }

  .hero-text {
    font-size: 1rem;
    padding: 0 15px;
  }

  .gallery-img {
    height: 220px;
  }

  .event-card {
    min-height: 250px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .hero-title {
    font-size: 1.8rem;
  }

  .hero-text {
    font-size: 0.9rem;
  }

  .gallery-img {
    height: 180px;
  }

  .event-card {
    min-height: auto;
  }

  .navbar-brand {
    font-size: 1rem;
  }
}
.member-card {
  height: 180px;
  border-radius: 15px;
}

.member-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
